{% extends "base.html" %}

{% block content %}

<h2> Browse by Genre</h2>

<div>
    <ul>
        <li class="topics"><a href=""> Action </a></li>
        <li class="topics"><a href=""> Comedy </a></li>
        <li class="topics"><a href=""> Drama </a></li>
        <li class="topics"><a href=""> Horror </a></li>
    </ul>
</div>


<h2> Or by Franchise</h2>
<ul>
    <li class="topics"><a href=""> Harry Potter </a></li>
    <li class="topics"><a href=""> Marvel </a></li>
    <li class="topics"><a href=""> Star Wars </a></li>
</ul>

{% endblock %}